.tamañoLoading {
    height: 7.5em;
    padding: 5px;
}
.tamañoLoading2 {
    margin-top: 32px;
    margin-left: 40px;
    height: 3em;
    width: 50px;
}
.tamañoLoading3 {
    margin-top: 32px;
    margin-right: 40px;
    height: 3em;
    width: 50px;
}