.class_input {
    width: auto;
    text-align: center;
    border: none;
    border-bottom: 3px solid lightslategray;
    border-radius: 15px;
    background-color: transparent;
    margin-right: 15px;
    margin-left: 15px;
}
.class_input:focus {
    color:darkslategray;
    outline: none;
    border-bottom: 3px solid #ffffffbd;
    background: linear-gradient(to bottom, transparent, #ffffff9a);
}   
.selectorDeTareas {
    background-color: antiquewhite;
    border-radius: 5%;
    outline: none;
}
@media screen and (max-width: 576px){
    .selectorDeTareas {
        width: 45%;
        margin-top: 10px;
    }
}
